<div class="card">
  <div class="card-header">
    Search for workshop
  </div>
  <div class="card-body">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="form-group m-0 row">
        <div class="col">
          <div class="row">
            <label for="workshopName" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="workshopName" placeholder="e.g. Happy mechanics"
                     formControlName="name">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <label for="workshopLocalization" class="col-sm-2 col-form-label">City:</label>
            <div class="col-sm-10">
              <select class="form-control" id="workshopLocalization" formControlName="city">
                <option></option>
                <option *ngFor="let city of cities" [ngValue]="city.City">{{city.City}}</option>
              </select>
              <p class="small error" *ngIf="searchForm.get('city').hasError('required') && searchForm.get('city').touched">
                Selecting a city is required
              </p>
            </div>
          </div>
        </div>
        <button class="btn btn-light col-2" type="submit">Search!</button>
      </div>
    </form>
  </div>
</div>
