<div class="row">
  <div class="col-8">
    <app-workshop-details
      [workshop]="selectedWorkshop">
    </app-workshop-details>
  </div>
  <div class="col">
    <app-google-map [workshopsList]="[selectedWorkshop]" [selectedWorkshopId]="selectedWorkshop.WorkshopID"></app-google-map>
  </div>
</div>
<div class="row margin-top">
  <div class="col-8">
    <app-comments-table [comments]="comments"></app-comments-table>
  </div>
  <div class="col d-flex flex-column">
    <app-date-time-select></app-date-time-select>
    <button class="very-nice-btn w-100 flex-child-growth min-height-100" (click)="send()">Create a reservation!</button>
  </div>
</div>
<toaster-container></toaster-container>

