.top { 
    width: 960px;
    margin:20px;
    color: white;
}

.offerts { 
    width: 985px;
    margin-left: 45px;
    margin-right: 45px;
    color: white;
}

.about { 

    width: 985px;
    margin-left: 45px;
    margin-right: 45px;
    color: white;
}

.contact { 

    width: 985px;
    margin-left: 45px;
    margin-right: 45px;
    color: white;
}