<div class="card">
  <div class="card-header blue">Followed cars</div>
  <div class="card-body">
    <table class="table table-hover table-sm small m-0">
      <thead>
      <tr>
        <th scope="col">Mark</th>
        <th scope="col">Model</th>
        <th scope="col">Production year</th>
        <th scope="col">VIN</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars">
        <td>{{car.mark}}</td>
        <td>{{car.model}}</td>
        <td>{{car.productionYear}}</td>
        <td>{{car.vin}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
