<div class="card">
  <div class="card-header blue">Followed cars</div>
  <div class="card-body">
    <table class="table table-hover table-sm small m-0">
      <thead>
      <tr>
        <th scope="col">Model</th>
        <th scope="col">Production year</th>
        <th scope="col">Registration year</th>
        <th scope="col">VIN</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars">
        <td class="align-middle">{{car.CarModel}}</td>
        <td class="align-middle">{{car.CarProductionYear}}</td>
        <td class="align-middle">{{car.CarFirstRegistrationYear}}</td>
        <td class="align-middle">{{car.CarVINNumber}}</td>
        <td class="align-middle">
          <button class="btn btn-sm btn-primary">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
