.offert { 
    width: 250px;
    height: 250px;
    background-color: powderblue;
    opacity:1;
    margin: 15px; 
    float:left;
}

.title { 
    text-align: center;
    visibility: visible;
    color: #ffff;
    font-size: 12px; 
    text-align: center;
}

.offert:hover .title { 
    visibility: hidden;
}

.description {
    visibility: hidden;
    color: #ffff;
    font: bold;
}
.offert:hover .description { 
    visibility: visible;
    
}
