<div class="offert">
  <div class='title'>
    <h1>Clients</h1>
  </div>
  <div class="content">
    <div class="description">
      SOME DESCRIPTION 1
    </div>
  </div>
</div>
<div class="offert">
  <div class='title'>
    <h1>Workshop</h1>
  </div>
  <div class="content">
    <div class="description">
        SOME DESCRIPTION 2
    </div>
  </div>
</div>
<div class="offert">
  <div class='title'>
    <h1>Search Car Documentation</h1>
  </div>
  <div class="content">
    <div class="description">
        SOME DESCRIPTION 3
    </div>
  </div>
</div>