.special-btn {
  height: 75px;
  width: 100%;
  border-radius: 0px;
  border: 3px solid #4078C6;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.special-btn-2 {
  border-radius: 0px;
  background: #fff;
  border: 3px solid #4078C6;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.big-font {
  font-size: 18px;
}
