<div class="card panel">
  <div class="card-header">
    Workshops
  </div>
  <div class="card-body">
    <table *ngIf="workshopsList.length; else noData" class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Localization</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let workshop of workshopsList"
          (click)="selectWorkshop(workshop.WorkshopID)"
          [ngClass]="{'active-tab-color': selectedWorkshopId === workshop.WorkshopID}">
        <td>{{workshop.WorkshopName}}</td>
        <td>{{workshop.WorkshopAddressStreet}}, {{workshop.WorkshopAddressCity}}
          {{workshop.WorkshopAddressZipCode}}
        </td>
        <td>{{workshop.WorkshopAverageRating}}/5</td>
      </tr>
      </tbody>
    </table>
    <ng-template #noData>
      <div class="text-muted d-flex justify-content-center">
        No results
      </div>
    </ng-template>
  </div>
</div>
